/*
Stylesheet for CSS Demo
*/

/* Box Sizing */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Utility Classes */
.container {
    width:70vw;
    margin:40px auto;
}

/* Global Styles */

body {
    background-color:bisque;
    font-family: 'Playfair Display', serif;
    margin:0;
}

header.primary {
    background-color:aquamarine;
    text-align:center;
    color:#ffffff;
    padding-top:40px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:40px;

    /* T, R, B, L */
    padding:40px 40px 40px 40px;

    /* Top/Bottom Right/Left */
    padding:40px;

    text-shadow: 2px 2px 5px #000000;
}

head.primary h1 {
    font-size:5rem;
    margin:20px 0;
}

header.primary h1 a {
    color:#fff;
    text-decoration:none;
}

header.primary h2 {
    font-size:1rem;
}

header.primary nav {
    width:80vw;
    background:red;
    margin: 20px auto;
    max-width: 900px;
}

header.primary nav ul {
    padding:0;
    /* Makes them laid out horizontally. */
    display:flex;
    /* Default*/
    /* row-reverse reverses the order */
    flex-direction:row;

    /* Centers elements */
    justify-content:center;
    /* Puts an even amount of space between the elements */
    justify-content: space-between;

}

header.primary nav ul li{
    /* Got rid of bullets. */
    list-style-type:none;
    background:blue
}

header.primary nav ul li a {
    color:#ffffff;
    text-decoration:none;
    background-color:#000000;
    /* Makes background color reach the ends of the box. */
    display:block;
    padding:8px 16px;
    display:inline-block;
    border-radius: 20px;
    /* Determines how long a transition is. */
    transition:.5s;
}

/* When you hover over the element. */
header.primary nav a:hover {
    background-color:rgba(0, 0, 0, .5);
}

#intro {
    /* Border size, border thickness, border color */
    border-bottom: 1px solid #000000;
    padding-bottom: 2rem;
}

#intro h2 {
    color:peru;
    border-bottom: 1px solid #000000;
}





/* When your screen is less than max-width */
@media screen and (max-width:500px) {
    header.primary nav ul {
        flex-direction:column;
    }

    header.primary nav a {
        display:block;
    }

    header.primary nav li {
        margin-bottom:10px;
    }
}